# My Jupyter Notebook

## Exercise 3: Introduction
This notebook contains basic exercises for practicing Markdown and Python code in a Jupyter Notebook environment

## Exercise 4: Data Science Languages
- Python
- R
- SQL
- Julia`
- Scala

## Exercise 5: Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Exercise 6: Data Science Tools

| Tool | Description |
|------|-------------|
| Jupyter Notebook | Interactive development environment |
| RStudio | IDE for R programming |
| Apache Spark | Big data processing engine |
| TensorFlow | Machine learning framework |
| Tableau | Data visualization tool |

## Exercise 7: Examples of Arithmetic Expressions
Below are examples of basic arithmetic expressions using Python.

In [3]:
# Exercise 8: Multiply and add numbers
a = 5 * 6
b = a + 10
b

40

In [4]:
# Exercise 9: Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Exercise 10: Objectives
- Demonstrate basic Markdown usage
- Use Python code cells
- Perform arithmetic operations
- Create tables in Markdown
- Practice notebook formatting

## Exercise 11: Author
Giang